In [1]:
import re

In [120]:
def is_two(x):
    #testing to see if x arg is equivalent to 2 or two
    if x == 2 or x == "2":
         result = True
         #send back the answer
         return result
    else:
        return False

In [121]:
is_two(2)

True

In [122]:
is_two("2")

True

In [119]:
is_two(3)

False

# 2

In [14]:
def is_vowel(x):
    #lower case to avoid mistakes
    x = x.lower()
    # checking to see = any vowerl
    if x == 'a' or x == 'e' or x == 'i' or x =='o' or x == 'u':
        result = True
        return result
    else:
        
        result = False
        return result

In [ ]:
#return len(string) == 1 and string.lower() in "aeiou"

In [16]:
is_vowel('a')

True

In [17]:
is_vowel('b')

False

In [18]:
is_vowel('e')

True

In [19]:
is_vowel('z')

False

# 3

In [48]:
def is_constant(x):
    #lower case to avoid mistakes
    x = x.lower()
    # checking to see = any vowerl
    if x == 'a' or x == 'e' or x == 'i' or x =='o' or x == 'u':
        result = False
        return result
    else:
        
        result = True
        return result

In [ ]:
#return len(string) == 1 and not is_vowel(string) and string.isalpha()

In [49]:
is_constant('e')

False

In [51]:
is_constant('a')

False

In [52]:
is_constant('b')

True

# 4

In [75]:
def is_word(char):
    # accepts string and if string index 0 is not a vowel, capitalize it
    if char[0] == 'a' or char[0] == 'e' or char[0] == 'i' or char[0] =='o' or char[0] == 'u':
        return char
    else:
        up_char = char.capitalize()
        return up_char

In [127]:
def is_wordz(char):
    # accepts string and if string index 0 is not a vowel, capitalize it
    if char[0] in 'aeiou':
        return char
    else:
        up_char = char.capitalize()
        return up_char

In [129]:
is_wordz("hi")

'Hi'

In [130]:
is_wordz("apple")

'apple'

In [128]:
is_wordz('doge')

'Doge'

# 5

In [78]:
def calculate_tip(per,check):
    #two arguments
    #take the percent and divide it by 100 for deciaml
    grat = per/100
    #how much the tip os
    total_tip = ( grat * check)

    return total_tip

In [79]:
calculate_tip(5,26)

1.3

def cal_tip(x,y)

total_bill = int(input('bill'))
tip_per =int(input('tip percent))
leave_tip = total_bill/tip_perc

print(f'you should leave {leave_tip} as the tip')

# 6

In [88]:
def apply_discount(op,dp):
    #discount price * original price
    dp_per = dp/100
    #original price - subtract amount for the price you will pay
    
    new_price = (1-dp_per)* op
    return new_price

In [91]:
apply_discount(30, 50)

15.0

In [131]:
apply_discount(45,7)

41.849999999999994

In [132]:
apply_discount(100,90)

9.999999999999998

# 7

In [92]:
def handle_commas(char):
    #remove commas
    no_commas = char.replace(',','')
    #cast int type to string
    num_commas =int(no_commas)
    
    return num_commas

In [93]:
handle_commas("7,00,00")

70000

# 8

In [94]:
def get_letter_grade(x):
    #if, elif to categorically find grade letter
    if x == 100 or x > 89:
        return "A"
    elif x == 89 or x > 79:
        return "B"
    elif x == 79 or x  > 69:
        return "C"
    elif x == 69 or x > 59:
        return "D" 
    else:
        return "F"

In [95]:
get_letter_grade(89)

'B'

In [97]:
get_letter_grade(70)

'C'

# 9

In [98]:
  def remove_vowels(char):
    #using re.sub to take list, apply to char as well as ingore casing
    result = re.sub(r'[AEIOU]', '', char, flags=re.IGNORECASE)
    return result

remove_vowels(' howdy nav,MYE ENAMEIOS NAVU ')

' hwdy nv,MY NMS NV '

In [99]:
remove_vowels("my name is abcdefghijklmnopqrstuvwxyz")

'my nm s bcdfghjklmnpqrstvwxyz'

# 10

In [142]:
def normalize_name(char):
    string = char.replace("$","")
    string = string.replace("%","")
    string = string.replace("!","")
    string = string.replace("?","")
    
    #strip trailing white space and leading
    no_white = string.strip()
    #lower case all
    low_char = no_white.lower()
    #replace spaces with underscore
    space_char = low_char.replace(' ','_')
    
    return space_char

In [143]:
normalize_name(" my? naem as$ i!sf j ff ")

'my_naem_as_isf_j_ff'

# 11

In [112]:
def cumulative_sum(list):
    #creat new list
    new_ls = []
    #take len of input list and store in variable
    length= len(list)
    #apply list attributes for the range of length + 1, sum, then apply to new list.
    new_ls = [sum(list[0:x:1]) for x in range(1,length+1)]
    
    return new_ls

In [113]:
cumulative_sum([1, 1, 1])

[1, 2, 3]

In [114]:
cumulative_sum([1, 2, 3, 4])

[1, 3, 6, 10]