In [1]:
has_glasses = True

if has_glasses:
    print("nerd!")

nerd!

In [3]:
has_glasses = False

#true
if has_glasses:
    print("nerd!")
else:
    print("nice face")

nice face

In [8]:
lunch = 12

if lunch < 10:
    print("not in this town!")
elif lunch < 20:
    print ("believable")
else:
    print('are you sure it wasn\'t dinner?')

believable

In [12]:
#list for glasses
eyewear =['glasses','sunglasses','contacts', None]

In [13]:
eyewear

['glasses', 'sunglasses', 'contacts', None]

# list and for loop

In [15]:
for item in eyewear:
    print (f"you need to were your {item}.")

you need to were your glasses.
you need to were your sunglasses.
you need to were your contacts.
you need to were your None.

In [27]:

eyewear =['glasses','sunglasses','contacts', None]

for item in eyewear:
    if item is None:
        print ("nothing")
    else:
        print (f"you need to were your {item}.")

you need to were your glasses.
you need to were your sunglasses.
you need to were your contacts.
nothing

# while loop

In [31]:
i = 3

while i < 7:
    print("safe")
    i += 1

safe
safe
safe
safe

In [35]:
odd_num_count = 0

for i in range (10):
    
    if i % 2 == 1:
        
        if i == 3:
            
            print('dont count 3')
            
           
            
        
        odd_num_count += 1

dont count 3